@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'Poppins', sans-serif;
}

.radio:checked,
.radio[aria-checked="true"] {
  background-color: white;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}